input[type="checkbox"]:disabled:checked::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: green;
    margin-right: 5px;
    vertical-align: middle;
  }
  