input[type="checkbox"]:disabled:checked {
    --checkbox-background-color: green;
  }
  
  input[type="checkbox"]:disabled:checked + label::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: var(--checkbox-background-color);
    margin-right: 5px;
    vertical-align: middle;
  }


.table td,
.table th {
  border: 1px solid #dee2e6;
}

.table th {
  background-color: #f8f9fa;
}

